body {
  font-size: 16px;
  line-height: 1;
  font-family: "Pretendard", sans-serif;
  word-break: keep-all;
  color: #1D1D1D;
}
a {
  text-decoration: none;
}
img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}
.inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* Btn */
.btn {
  width: 108px;
  height: 31px;
  padding: 10px;
  border: 2px solid #FFF;
  background-color: #FFF;
  border-radius: 20px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #FFF;
}

/* Background image text */
.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 2;
}

header ul.menu {
  height: 44px;
  display: flex;
  justify-content: space-between;
} 
header ul.menu li {
  display: flex;

}
header ul.menu li a {
  padding: 0 10px;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #1D1D1D;
  opacity: .8;
}
header ul.menu li:hover a {
  color: #5087CB;
}
header ul.menu li.daitjanner-logo a,
header ul.menu li.search-starter a,
header ul.menu li.login-starter a {
  width: 14px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;    /* 센터에 오는지 체크 */
}
header ul.menu li.daitjanner-logo a {

}
header ul.menu li.search-starter a {
  background-image: url(/images/header-search.png); 
}
header ul.menu li.login-starter a {
  /* background-image: url(); */
}
header ul.menu li a:hover {
  opacity: 1;
}

/*Header / Search */
header .search-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  visibility: hidden;
  transition: .4s;
  opacity: 0;
  z-index: 1;
}
header .search-wrap.show {
  visibility: visible;
  opacity: 1;
}
header .search {
  margin: 0 auto;
  position: relative;
}
header .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .7);
}
header .search .textfield {
  position: relative;
}
header .search input {
  width: 100%;
  height: 44px;
  padding: 0 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: #FFF; 
  font-size: 17px;
  color: #1d1d1d;
}
header .search .search-icon {
  width: 40px;
  height: 44px;
  background-image: url(/images/header-search.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
}
header .search .autocompletes {
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
  background-color: #FFF;
  position: absolute;
  top: 44px;
  left: 0;
}
header .search .autocompletes h3 {
  font-size: 12px;
  color: #6E6E6E;
  margin-bottom: 12px;
}
header .search .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
  color: #3C3C3C;
}
header .search .autocompletes ul li:hover a {
  background-color: #F5F5F5;
  color: #1D1D1D;
}
/* Hero */
.hero {
  height: 497px;
}
.hero .inner {
  padding-bottom: 110px;
  height: 395px;
  position: relative;
}
.hero h1 {
  position: absolute;
  top: 252px;
  left: 384px;
  width: 522px;
  height: 47px;
  background-image: url("/images/hero-bgtext1.png");
}
.hero h2 {
  position: absolute;
  top: 346px;
  left: 502px;
  width: 301px;
  height: 22px;
  background-image: url("/images/hero-bgtext2.png");
}
.hero h3 {
  position: absolute;
  top: 405px;
  left: 451px;
  width: 412px;
  height: 15px;
  background-image: url("/images/hero-bgtext3.png");
}
.hero .floating1 {
  position: absolute;
  top: 163px;
  left: -163px;
}
.hero .floating2 {
  position: absolute;
  top: 211px;
  left: 163px;
}
.hero .floating3 {
  position: absolute;
  top: 353px;
  left: -18px;
}
.hero .floating4 {
  position: absolute; 
  top: 182px;
  right: 14px;
}
.hero .floating5 {
  position: absolute;
  top: 318px;
  right: 142px;
}
.hero .floating6 {
  position: absolute;
  top: 345px;
  right: -154px;
}


/* Tool-card */
.tool-card {
  height: 650px;
  position: relative;
}
.tool-card >.inner {
  width: calc(244px * 3 + 450px);
  height: 326px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 119px;
}

/* Card1 */
.tool-card .inner .card1 {
  width: 244px;
  height: 326px;
  perspective: 600px;
  position: sticky;
  /* right: 0; */
}
.tool-card .card1 .front1,
.tool-card .card1 .back1 {
  width: 244px;
  height: 326px;
  backface-visibility: hidden;
  transition: 1s;
}
.tool-card .card1 .front1 {
  position: absolute;
  transform: rotateY(0deg);
}
.tool-card .card1:hover .front1 {
  transform: rotateY(180deg)
}
.tool-card .card1 .back1 {
  transform: rotateY(-180deg);
}
.tool-card .card1:hover .back1 {
  transform: rotateY(0deg);
}
.tool-card .card1 .back1 .btn {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  margin: auto;
}
.tool-card .card1 .back1 .btn {
  position: absolute;
  top: 129px;
  left: 0;
  right: 0;
  margin: auto;
}

/* Card2 */
.tool-card .inner .card2 {
  width: 244px;
  height: 326px;
  perspective: 600px;
  position: sticky;
}
.tool-card .card2 .front2,
.tool-card .card2 .back2 {
  width: 244px;
  height: 326px;
  backface-visibility: hidden;
  transition: 1s;
}
.tool-card .card2 .front2 {
  position: absolute;
  transform: rotateY(0deg);
}
.tool-card .card2:hover .front2 {
  transform: rotateY(180deg)
}
.tool-card .card2 .back2 {
  transform: rotateY(-180deg);
}
.tool-card .card2:hover .back2 {
  transform: rotateY(0deg);
}
.tool-card .card2 .back2 .btn {
  position: absolute;
  top: 129px;
  left: 0;
  right: 0;
  margin: auto;
}

/* Card3 */
.tool-card .inner .card3 {
  width: 244px;
  height: 326px;
  perspective: 600px;
  position: sticky;
}
.tool-card .card3 .front3,
.tool-card .card3 .back3 {
  width: 244px;
  height: 326px;
  backface-visibility: hidden;
  transition: 1s;
}
.tool-card .card3 .front3 {
  position: absolute;
  transform: rotateY(0deg);
}
.tool-card .card3:hover .front3 {
  transform: rotateY(180deg)
}
.tool-card .card3 .back3 {
  transform: rotateY(-180deg);
}
.tool-card .card3:hover .back3 {
  transform: rotateY(0deg);
}
.tool-card .card3 .back3 .btn {
  position: absolute;
  top: 129px;
  left: 0;
  right: 0;
  margin: auto;
}

/* Curation */
.curation-main {
}
.curation-main .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 0s;
}
.curation-info {
  display: block;
  flex: 1;
  width: 30%;
}

.curation-info h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 16px;
}

.curation-info p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
.curation-main .swiper-container {
  flex: 1;
  width: 70%;
  overflow: hidden;
  position: relative;
}
.curation-main .swiper-slide {
  width: 70%;
  opacity: 1;
}
.curation-main .swiper-slide img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

/* CurationThumb */
.curation-tumb {

}
.curation-tumb .inner {
  display: flex;

}
.curation-tumb .promotion {
  height: 300px;
  width: 1320px;
  margin-top: 30px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: height .4s;
}
.curation-tumb  .promotion.hide {
  height: 0;
}
.curation-tumb  .promotion .swiper-container {
  width: calc(331px * 4 + 26px);
  height: 186px;
  position: absolute;
  top: 40px;
  left: 70%;
  margin-left: calc((331px * 4 + 26px) / -2);
}
.curation-tumb  .promotion .swiper-slide {
  position: relative;
  opacity: .2;
  transition: opacity 1s;
}
.curation-tumb  .promotion .swiper-slide-active {
  opacity: 1;
}

/* Footer */
footer {
  background: #f9f9fc;
  color: #444;
  padding: 40px 20px;
  font-family: 'Pretendard', sans-serif;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1320px;
  margin: 0 auto;
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  width: 100px;
  margin-top: 10px;
}

.notice {
  font-size: 14px;
  color: #444;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
}

.footer-menu h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
}

.footer-menu li {
  margin-bottom: 6px;
}

.footer-menu a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.footer-menu a:hover {
  color: #000;
}

.footer .btn {

}

.footer-bottom {
  border-top: 1px solid #eee;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 13px;
  color: #999;
  text-align: center;
}