@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    /* Font families */
    --font-sans: 'Pretendard';

    /* Display */
    --display-large-size: 64px;
    --display-medium-size: 40px;
    --display-small-size: 34px;

    /* Heading */
    --heading-large-size: 40px;
    --heading-medium-size: 28px;
    --heading-small-size: 24px;

    /* Body */
    --body-large-size: 20px;
    --body-medium-size: 16px;
    --body-small-size: 14px;

    /* Caption */
    --caption-medium-size: 14px;
    --caption-small-size: 12px;

    /* Button */
    --button-large-size: 16px;
    --button-medium-size: 14px;

    /* Weight */
    --font-bold: 700;
    --font-medium: 500;
    --font-regular: 400;

    /* Color / Gray */
    --color-gray-0: #ffffff;
    --color-gray-5: #F4F5F6;
    --color-gray-10: #E6E8EA;
    --color-gray-30: #B1B8BE;
    --color-gray-70: #464C53;
    --color-gray-90: #1E2124;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'pretendard';
    background-color: var(--color-gray-0);
    background: linear-gradient(304deg, rgba(219, 246, 185, 0.10) 9.43%, rgba(186, 224, 248, 0.10) 90.57%), #FFF;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    /* padding: 0 20px; */
}

/* Btn */
.btn {
  width: 128px;
  height: 41px;
  padding: 10px;
  border: 2px solid #FFF;
  background-color: #FFF;
  border-radius: 20px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}

.btn:hover {
  background-color: #333;
  color: #FFF;
}


.parallax-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circle {
    position: absolute;
    background-image: url(../src/assets/images/tool/ellipse-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(7.5px);
}

/* 오른쪽 중간 원 */
.circle1 {
    width: 36vw;
    height: 36vw;
    top: 60vh;
    right: -15vw;
}

/* 왼쪽 아래 큰 원 */
.circle2 {
    width: 48vw;
    height: 48vw;
    top: 120vh;
    left: -25vw;
}

/* 왼쪽 아래 작은 원 */
.circle3 {
    width: 30vw;
    height: 30vw;
    top: 200vh;
    right: -10vw;
}





/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #FFF;
    z-index: 100;
    border-bottom: 1px solid #e0e0e0;
}

header .container {
    padding: 0;
}

header nav {
    max-width: 1320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

header nav .logo {
    height: 48px;
}

header nav .logo img {
    height: 48px;
}

header nav .main-menu {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 64px;
    list-style: none;
}

header nav .main-menu li {
    display: flex;
    justify-content: center;
    width: 96px;
    padding: 12px 0;
    background-color: transparent;
    border-radius: 8px;
}

header nav .main-menu a {
    padding: 0 10px;
    font-size: var(--button-large-size);
    font-weight: var(--font-medium);
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1D1D1D;
    opacity: .8;
    text-decoration: none;
    cursor: pointer;
}

header nav .main-menu li:hover {
    background: rgba(17, 17, 17, 0.04);
    opacity: 1;
}

header nav .utility-menu {
    display: flex;
    gap: 20px;
    justify-self: end;
}

.utility-menu i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
}

.utility-menu i:hover {
    opacity: 1;
}

/*Header / Search */
header .search-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    visibility: hidden;
    transition: .4s;
    opacity: 0;
    z-index: 1;
}

header .search-wrap.show {
    visibility: visible;
    opacity: 1;
}

header .search {
    margin: 0 auto;
    position: relative;
}

header .search .shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
}

header .search .textfield {
    position: relative;
}

header .search input {
    width: 100%;
    height: 44px;
    padding: 0 40px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: #FFF;
    font-size: 17px;
    color: var(--color-gray-70);
}

header .search i {
    color: black;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 1.5%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}

header .search .autocompletes {
    width: 100%;
    padding: 26px 40px 20px;
    border-radius: 0 0 18px 18px;
    box-sizing: border-box;
    background-color: #FFF;
    position: absolute;
    top: 44px;
    left: 0;
}

header .search .autocompletes h3 {
    font-size: 12px;
    color: #6E6E6E;
    margin-bottom: 12px;
}

header .search .autocompletes ul {
    list-style: none;
}

header .search .autocompletes ul li a {
    display: block;
    margin: 0 -14px;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    cursor: pointer;
    color: #3C3C3C;
    text-decoration: none;
}

header .search .autocompletes ul li:hover a {
    background-color: #F5F5F5;
    color: #1D1D1D;
}



#wrap {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 92px;
}

.section h2 {
    margin: 24px 0 0 0;
    line-height: 150%;
    font-size: var(--heading-medium-size);
}

#category {
    position: sticky;
    top: 89px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 10;

    transition: background-color 0.3s ease;
}

#category.scrolled {
    background-color: rgba(239, 239, 239, 0.4);
    backdrop-filter: blur(20px);

    transition: background-color 0.3s ease;
}

.category-inner {
    width: 100%;
    max-width: 1320px;
    padding: 16px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.category-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 500px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid var(--Color-gray-30, #B1B8BE);
    color: var(--color-gray-70);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(25px);
    cursor: pointer;

    transition: box-shadow 0.2s ease-in-out;
}

.category-item.scrolled {
    box-shadow: none;
}

.category-item p {
    margin: 0;
}

.category-item.active {
    background: rgba(0, 19, 41, 1);
    border: 1px solid rgba(0, 19, 41, 1);
    color: var(--color-gray-5);
}

.category-item i {
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(373px, 1fr));
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.item {
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 12px;
    color: var(--color-gray-90);
    background: rgba(239, 239, 239, 0.40);
    box-shadow: 0px -1px 2px 0px rgba(255, 255, 255, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(25px);
    transition: transform 0.2s ease;
}

.item:hover {
    transform: scale(1.02);
    box-shadow: 0 5px px rgba(0, 0, 0, 0.12);
}


.thumbnail-frame {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px -1px 2px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.15) inset;

    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    margin-top: 16px;
    padding: 0 8px;
}

.content-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content h5 {
    font-size: var(--heading-small-size);
    margin: 0;
}

.content p {
    height: 72px;
    line-height: 150%;
}

.tag-list {
    display: flex;
    gap: 8px;
}

.tag {
    color: var(--color-gray-70);
    padding: 4px 12px;
    font-size: var(--caption-small-size);
    border-radius: 50px;
    background: rgba(138, 148, 158, 0.15);
    backdrop-filter: blur(25px);
}

.content p {
    font-size: var(--body-small-size);
    margin: 0;
}


footer {
    background: #f9f9fc;
    color: #444;
    padding: 40px 20px;
    font-family: 'Pretendard', sans-serif;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1320px;
    margin: 0 auto;
}

/* 좌측 로고 */
.footer-left {
    flex: 1;
    /* ← 1:1 비율 설정 */
    max-width: 100%;
}

.footer-logo {
    width: 160px;
}

/* 우측 메뉴 영역 */
.footer-right {
    flex: 1;
    /* ← 1:1 비율 설정 */
    display: flex;
    gap: 0;
    /* 간격 제거: 내부에서 분배 */
    justify-content: space-between;
}

/* 각 메뉴를 동일한 너비로 */
.footer-menu {
    flex: 1;
    /* ← 균등 1:1:1 분배 */
    padding-left: 30px;
}

.footer-menu h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    margin-bottom: 6px;
}

.footer-menu a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.footer-menu a:hover {
    color: #000;
}

.footer-menu .btn {
    font-size: var(--button-medium-size);
    padding: 4px 32px;
    background-color: var(--color-gray-10);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu .btn:hover {
    color: var(--color-gray-90);
    background-color: var(--color-gray-30);
}


.footer-bottom {
    max-width: 1070px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #eee;
    font-size: 13px;
    color: #999;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    text-align: left;
}



@media (max-width: 768px) {
    h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1rem;
    }
}